// Default Button
@layer components {
  .btn {
    @apply transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer;
    &:hover {
      @apply bg-opacity-90 border-opacity-90;
    }
    &:focus {
      @apply outline-none ring;
    }
    &:not(button) {
      @apply text-center;
    }
  }

  // Default Sizes
  .btn-sm {
    @apply text-xs py-1.5 px-2;
  }
  .btn-lg {
    @apply text-lg py-1.5 px-4;
  }

  // Button Colors
  .btn-primary {
    @apply bg-primary-1 border-primary-1 text-white dark:border-primary-1;
  }
  .btn-secondary {
    @apply bg-gray-200 border-gray-200 text-gray-600 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-400;
    &:hover {
      @apply bg-gray-300 dark:border-dark-5 dark:bg-dark-5 dark:bg-opacity-80 dark:border-opacity-80;
    }
  }
  .btn-success {
    @apply bg-primary-4 border-primary-4 text-white dark:border-primary-4;
  }
  .btn-warning {
    @apply bg-primary-7 border-primary-7 text-gray-900 dark:border-primary-7;
  }
  .btn-danger {
    @apply bg-primary-3 border-primary-3 text-white dark:border-primary-3;
  }
  .btn-dark {
    @apply bg-gray-800 border-gray-800 text-white dark:border-dark-6 dark:bg-dark-6 dark:text-gray-400;
  }

  // Button Elevated
  .btn-elevated {
    @apply shadow-md;
  }
  .btn-elevated-primary {
    @apply btn-elevated btn-primary;
  }
  .btn-elevated-secondary {
    @apply btn-elevated btn-secondary;
  }
  .btn-elevated-success {
    @apply btn-elevated btn-success;
  }
  .btn-elevated-warning {
    @apply btn-elevated btn-warning;
  }
  .btn-elevated-danger {
    @apply btn-elevated btn-danger;
  }
  .btn-elevated-dark {
    @apply btn-elevated btn-dark;
  }

  // Button Rounded
  .btn-rounded {
    @apply rounded-full;
  }
  .btn-rounded-primary {
    @apply btn-rounded btn-primary;
  }
  .btn-rounded-secondary {
    @apply btn-rounded btn-secondary;
  }
  .btn-rounded-success {
    @apply btn-rounded btn-success;
  }
  .btn-rounded-warning {
    @apply btn-rounded btn-warning;
  }
  .btn-rounded-danger {
    @apply btn-rounded btn-danger;
  }
  .btn-rounded-dark {
    @apply btn-rounded btn-dark;
  }

  // Button Elevated Rounded
  .btn-elevated-rounded {
    @apply btn-elevated btn-rounded;
  }
  .btn-elevated-rounded-primary {
    @apply btn-elevated-rounded btn-primary;
  }
  .btn-elevated-rounded-secondary {
    @apply btn-elevated-rounded btn-secondary;
  }
  .btn-elevated-rounded-success {
    @apply btn-elevated-rounded btn-success;
  }
  .btn-elevated-rounded-warning {
    @apply btn-elevated-rounded btn-warning;
  }
  .btn-elevated-rounded-danger {
    @apply btn-elevated-rounded btn-danger;
  }
  .btn-elevated-rounded-dark {
    @apply btn-elevated-rounded btn-dark;
  }

  // Social Media Button
  .btn-facebook {
    @apply bg-primary-8 text-white dark:border-primary-8;
  }
  .btn-twitter {
    @apply bg-primary-9 text-white dark:border-primary-9;
  }
  .btn-instagram {
    @apply bg-primary-10 text-white dark:border-primary-10;
  }
  .btn-linkedin {
    @apply bg-primary-11 text-white dark:border-primary-11;
  }

  // Outline Button
  .btn-outline-primary {
    @apply border-primary-1 text-primary-1 dark:border-primary-2 dark:text-primary-2;
    &:hover {
      @apply bg-primary-1 bg-opacity-10;
    }
  }
  .btn-outline-secondary {
    @apply border-gray-300 text-gray-700 dark:border-gray-700 dark:text-gray-400;
    &:hover {
      @apply bg-gray-300 bg-opacity-20 dark:border-dark-5 dark:bg-dark-5 dark:bg-opacity-80 dark:border-opacity-80;
    }
  }
  .btn-outline-success {
    @apply border-primary-4 text-primary-4 dark:border-primary-4;
    &:hover {
      @apply bg-primary-4 bg-opacity-10;
    }
  }
  .btn-outline-warning {
    @apply border-primary-7 text-primary-7 dark:border-primary-7;
    &:hover {
      @apply bg-primary-7 bg-opacity-10;
    }
  }
  .btn-outline-danger {
    @apply border-primary-3 text-primary-3 dark:border-primary-3;
    &:hover {
      @apply bg-primary-3 bg-opacity-10;
    }
  }
  .btn-outline-dark {
    @apply border-gray-800 text-gray-800 dark:border-gray-700 dark:text-gray-500;
    &:hover {
      @apply bg-gray-800 bg-opacity-10;
    }
  }

  // Button Soft Colors
  .btn-primary-soft {
    @apply bg-primary-1 border-primary-1 bg-opacity-20 border-opacity-5 text-primary-5 dark:border-primary-1 dark:border-opacity-20;
    &:hover {
      @apply bg-opacity-10 border-opacity-10;
    }
  }
  .btn-secondary-soft {
    @apply bg-gray-300 border-gray-300 bg-opacity-20 border-opacity-5 text-gray-500 dark:border-gray-300 dark:border-opacity-20;
    &:hover {
      @apply bg-opacity-10 border-opacity-10;
    }
  }
  .btn-success-soft {
    @apply bg-primary-4 border-primary-4 bg-opacity-20 border-opacity-5 text-primary-4 dark:border-primary-4 dark:border-opacity-20;
    &:hover {
      @apply bg-opacity-10 border-opacity-10;
    }
  }
  .btn-warning-soft {
    @apply bg-primary-7 border-primary-7 bg-opacity-20 border-opacity-5 text-primary-6 dark:border-primary-7 dark:border-opacity-20;
    &:hover {
      @apply bg-opacity-10 border-opacity-10;
    }
  }
  .btn-danger-soft {
    @apply bg-primary-3 border-primary-3 bg-opacity-20 border-opacity-5 text-primary-3 dark:border-primary-3 dark:border-opacity-20;
    &:hover {
      @apply bg-opacity-10 border-opacity-10;
    }
  }
  .btn-dark-soft {
    @apply bg-gray-800 border-gray-800 bg-opacity-20 border-opacity-5 text-gray-600 dark:border-gray-800 dark:border-opacity-20;
    &:hover {
      @apply bg-opacity-10 border-opacity-10;
    }
  }
}
